<%- include('partials/header') %>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="h1 display-4">Administration</h2>

        <p class="lead">Espace permettant de gérer les quizzes !</p>
    <h3> Utilisateur connecté : </h3>
    <p> <%= locals.user.firstname + ' ' + locals.user.lastname %></p>
    <p> <%= locals.user.role %></p>
  </div>
  <%- include('partials/footer') %>